:root {
  --bg-color: #0d0d0d;
  --bg-input-color: #242426;
  --text-color: #ffffff;
  --primary-color: #1f487e;
}

html {
  background-color: var(--bg-color);
}

body > div {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

header {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 8px 0;
}

header > div {
  position: absolute;
  left: 0;
}

nav ul {
  display: flex;
  gap: 10px;
}

section {
  padding: 40px 0;
}

section h2 {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
}

#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#about span {
  font-family: "Lobster", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 15px;
}

#about p {
  text-align: center;
  width: 36%;
}

#formation > div {
  margin: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

#formation .rocket {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formation .rocket img {
  width: 60px;
}

#formation .rocket div {
  width: 20px;
  min-height: 120px;
  height: 100%;
  background:
    url("/assets/images/smoke.png") 0 100% repeat-y,
    url("/assets/images/smoke.png") 0 80% repeat-y;
  background-size: 20px;
}

#formation .formation-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

#formation .formation-item h3 {
  font-size: 22px;
  font-weight: bold;
}

#formation .formation-item ul {
  margin: 15px 0 10px;
  list-style-type: disc;
  margin-left: 26px;
}

#formation .formation-item span {
  font-size: 14px;
}

#portfolio > div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

#portfolio > div img {
  width: 35%;
  border-radius: 4px;
}

#portfolio > div div {
  width: 35%;
}

#portfolio div ul {
  list-style-type: disc;
  margin-left: 26px;
}

#portfolio div a {
  display: block;
  margin-top: 15px;
}

#portfolio h3 {
  font-size: 22px;
  font-weight: bold;
}

#contact form {
  width: 40%;
  margin: 30px auto;
}

#contact label {
  display: block;
  margin-bottom: 16px;
}

#contact label p {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 600;
}

#contact input {
  width: 100%;
  background-color: var(--bg-input-color);
  outline: none;
  padding: 5px 11px;
  border-radius: 3px;
}

#contact textarea {
  width: 100%;
  background-color: var(--bg-input-color);
  outline: none;
  padding: 5px 11px;
  border-radius: 3px;
}

#contact button {
  width: 50%;
  display: block;
  margin: 20px auto 0;
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

#contact span {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#contact span.hidden {
  display: none;
}

#contact span.valid {
  color: #6eff97;
}

#contact span.invalid {
  color: #ff6e6e;
}

@media (max-width: 920px) {
  body > div {
    padding: 0 40px;
  }

  header {
    position: initial;
  }

  header > div {
    display: none;
  }

  #about p {
    width: 80%;
  }

  #portfolio > div {
    flex-direction: column;
    align-items: center;
  }

  #portfolio > div img {
    width: 100%;
  }

  #portfolio > div div {
    width: 100%;
  }

  #contact form {
    width: 100%;
  }
}

@media (max-width: 1520px) {
  header > div {
    left: 40px;
  }
}
